/* ***** VARIABLES ***** */
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$grey-01: #F6F6F6;
$grey-02: darken($grey-01, 5%);
$grey-03: darken($grey-01, 7%);
$grey-04: darken($grey-01, 50%);
$grey-05: darken($grey-01, 80%);
$gradient-01: linear-gradient(to top left, $primary-color, $secondary-color);


/* ***** MIXINS ***** */
/* MIXINS > ANGLES */
@mixin top-corners {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

@mixin bottom-corners {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* MIXINS > BORDURES */
@mixin border {
    border: 0px solid transparent;
    box-shadow: 5px 5px 5px $grey-03;
}

/* MIXINS > CARDS */
@mixin textcard {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 20px;
    background-color: white;
    @include bottom-corners;
    @include border;
    h2, p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 14px;
        line-height: 0.5;
    }
}

/* MIXINS > CHECKBOXES */
@mixin checkbox {
    .__icone {
        .--unchecked {
            display: block;
        }
        .--checked {
            display: none;
        }
    }
    .__input {
        position: absolute;
        opacity: 0;
        &:hover {
            cursor: pointer;
        }
        &:checked + .__icone {
            .--unchecked {
                display: none;
            }
            .--checked {
                display: block;
                color: $primary-color;
            }
        }
    }
}


/* MIXINS > TEXTES */
@mixin small-bold {
    font-size: 14px;
    font-weight: bold;
}



/* ********** GÉNÉRAL ********** */

/* ***** GÉNÉRAL > POLICES ***** */
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Regular.ttf'),
    url('fonts/roboto/Roboto-Black.ttf'),
    url('fonts/roboto/Roboto-BlackItalic.ttf'),
    url('fonts/roboto/Roboto-Bold.ttf'),
    url('fonts/roboto/Roboto-BoldItalic.ttf'),
    url('fonts/roboto/Roboto-Italic.ttf'),
    url('fonts/roboto/Roboto-Light.ttf'),
    url('fonts/roboto/Roboto-LightItalic.ttf'),
    url('fonts/roboto/Roboto-Medium.ttf'),
    url('fonts/roboto/Roboto-MediumItalic.ttf'),
    url('fonts/roboto/Roboto-Regular.ttf'),
    url('fonts/roboto/Roboto-Thin.ttf'),
    url('fonts/roboto/Roboto-ThinItalic.ttf');
}

@font-face {
    font-family: 'Shrikhand';
    src: url('fonts/shrikhand.otf');
}

body {
    font-family: Roboto, Arial, Verdana, sans-serif;
    counter-reset: section;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    white-space: normal;
    margin: auto;

    h1 {
        font-size: 24px;
        font-weight: bold;
    }

    h2 {
        font-size: 18px;
    }

    p, nav {
        font-size: 18px;
    }

    ul {
        margin: 0;
        padding: 0;
    }
}

/* ***** GÉNÉRAL > ELEMENTS ***** */
/* *** GÉNÉRAL > ELEMENTS > BOUTONS *** */
.btn {
    background: $gradient-01;
    color: white;
    padding: 15px;
    border-radius: 50px;
    &:hover {
        cursor: pointer;
    }
    @include small-bold; 
    @include border;
}

/* *** GÉNÉRAL > ÉLÉMENTS > CTA LIKE *** */
.cta {
    @include checkbox;
}


/* ***** GÉNÉRAL > HEADER ***** */
header {
    display: flex;
    justify-content: center;
    .logo-site {
        width: 40%;
        height: 40%;
        padding: 20px;
    }
}

/* ***** GÉNÉRAL > FOOTER ***** */

footer {
    padding: 30px;
    background-color: $grey-04;
    .title.__footer, .link.__footer {
        color: white;
        text-decoration: none;
        font-size: 14px;
    }
    .title.__footer {
        font-family: Shrikhand;
        font-weight: bold;
        font-size: 18px;
    }
    .menu-nav {
        .list-style.__footer {
            list-style: none;
        }
    }
}





/* ********** SPÉCIFIQUE ********** */

/* ***** SPÉCIFIQUE > INDEX ***** */
.section {
    padding-bottom: 50px;
    &.__infoposition {
        background-color: $grey-01;
        text-align: center;
        .form.__infoposition {
            .input__infoposition {
                width: 100%;
                padding: 10px;
                background-color: $grey-02;
                border: none;
                border-top: 3px groove $grey-03;
                color: $grey-04;
                @include small-bold;
            }
            .fieldset__infoposition {
                border: none;
                padding: 20px;
            }
        }
    }
    &.__fonctionnement, &.__restaurants {
        padding: 30px;
    }
    &.__fonctionnement {
        .__liste {
            margin: 0;
            padding: 0;
            .guidelines {
                width: 80%;
                background-color: $grey-01;
                display: flex;
                justify-content: space-evenly;
                align-content: center;
                padding: 22px 40px 20px 0px;
                margin-bottom: 15px;
                @include top-corners;
                @include bottom-corners;
                @include border;
                &::before {
                    counter-increment: section;
                    content: counter(section);
                    display: flex;
                    margin: 0;
                    margin-left: -25px;
                    border-radius: 100%;
                    padding: 4px 7px 3px 7px;
                    color: white;
                    background-color: $primary-color;
                }
                .__icone {
                    color: $grey-04;
                    padding-top: 2px;
                }
                &:hover {
                    background-color: lighten($primary-color, 35%);
                    cursor: pointer;
                    .__icone {
                        color: $primary-color;
                    }
                }
            }   
        }
    }
    &.__restaurants {
        background-color: $grey-01;
        &.card {
            @include textcard;
            @include top-corners;
            @include border;
            height: 250px;
            }
            .link.__card-index {
                .cardimg {
                    width: 100%;
                    height: 190px;
                    @include top-corners;
                }
            }
            .textcard {
                @include textcard;
                .cta {
                    float: right;
                    position: relative;
                    margin-top: -40px;
                    padding-right: 10px;
                    color: black;
                }
            }
        }
    }



/* ***** SPÉCIFIQUE > PAGES RESTAURANTS ***** */

/* *** SPÉCIFIQUE > PAGES RESTAURANTS > HEADER *** */
.header__menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .__back {
        text-decoration: none;
        .fa-solid.fa-arrow-left {
            display: block;
            color: $grey-05;
        }
    }
}

/* *** SPÉCIFIQUE > PAGES RESTAURANTS > MAIN *** */
main {
    background: url("../images/restaurants/la-palette-du-gout.jpg") no-repeat;
    background-size: 400px;
}

.section.__menu {
    margin-top: 250px;
    padding: 10px 10px 40px 10px;
    @include top-corners();
    background-color: $grey-01;
    .__title {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        margin: auto;
        .__menu {
            font-family: Shrikhand;
        }
        .cta {
            align-content: center;
            margin: auto;
        }
    }
    .subtitle.--big-letters {
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 14px;
        &::after {
            display: flex;
            content: "";
            width: 12%;
            border-bottom: 3px #99E2D0 solid;
        }
    }
    .__textcard {
        @include textcard;
        @include top-corners;
        padding: 0;
        display: flex;
        flex-direction: row;
        .__display-text {
            width: 100%;
            flex-direction: row;
            padding: 5px;
        }
        .__display-price {
            display:block;
            align-self: flex-end;
            padding-bottom: 5px;
            @include small-bold;
        }
        /* Bouton validation élément menu visible */
        &:hover {
            .__display-text {
                width: 80%;
            }
            .cta.--menu {
                @include checkbox;
                width: 20%;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                margin-left: 15px;
                display: flex;
                background-color: $tertiary-color;
                /* temporaire: */
                .__input.--menu {
                    opacity: 100%;
                    position: relative;
                    margin: auto;
                }
                .__icone.--menu {
                    margin: auto;
                }
                .--checked.--menu {
                    display: block;
                    color: white;
                }
            }    
        }
    }
}