footer {
    padding: 30px;
    background-color: $grey-05;
    @include desktop-query {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        padding: 20px;
        padding-left: 12%;
    }
    .title.__footer, .link.__footer {
        color: white;
        text-decoration: none;
        font-size: 14px;
    }
    .title.__footer {
        font-family: Shrikhand;
        font-weight: bold;
        font-size: 18px;
        @include desktop-query {
            margin-right: 12%;
        }
    }
    .menu-nav {
        .list.__footer {
            list-style: none;
            @include desktop-query {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                .list-style.__footer {
                    text-align: left;
                    width: 200px;
                    padding-top: 15px;
                    padding-right: 3rem;
                }
            }
        }
    }
}