footer {
    padding: 1.5rem;
    background-color: $grey-05;
    @include tablet-query {
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .footer__content {
        @include tablet-query {
            display: flex;
        }
        .title.__footer, .link.__footer {
            color: white;
            text-decoration: none;
            font-size: 14px;
        }
        .title.__footer {
            font-family: Shrikhand;
            font-weight: bold;
            font-size: 18px;
            margin: 0;
            @include tablet-query {
                margin: auto 1rem;
            }
            @include desktop-query {
                margin: auto 4rem;
            }
        }
        .menu-nav {
            .list.__footer {
                list-style: none;
                margin: 1rem 0 0 0;
                .__icone {
                    display: inline-block;
                    margin-right: 0.5rem;
                    font-size: 12px;
                }
                @include tablet-query {
                    display: flex;
                    margin: auto;
                    justify-content: space-between;
                    .list-style.__footer {
                        display: flex;
                        justify-content: space-between;
                        margin: auto 1rem;
                        @include desktop-query {
                            margin: auto 4rem;
                        }
                    }
                }
            }
        }
    }
    
}