/* LOADING-SPINNER */
@keyframes load-and-fade {
    50% {
        opacity: 0.9;
    }
    60% {
        opacity: 0.7;
    }
    70% {
        opacity: 0.5;
    }
    80% {
        opacity: 0.3;
    }
    90% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
    }
}

/* CAROUSEL */

@keyframes tonext {
    75% {
        left: 0;
    }
    95% {
        left: 100%;
    }
    98% {
        left: 100%;
    }
    99% {
        left: 0%;
    }
}

@keyframes tostart {
    75% {
        left: 0%
    }
    95% {
        left: -300%;
    }
    98% {
        left: -300%;
    }
    99% {
        left: 0%;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }
    97% {
        scroll-snap-align: none;
    }
    99% {
        scroll-snap-align: none;
    }
    100% {
        scroll-snap-align: center;
    }
}

/* APPARITION PROGRESSIVE DU MENU */
@keyframes reveal-menu {
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.7;
    }
    70% {
        opacity: 0.7;
    }
    90% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

/* ANIMATION LIKE */
@keyframes like-activated {
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.15;
    }
    30% {
        opacity: 0.25;
    }
    40% {
        opacity: 0.4;
    }
    70% {
        opacity: 0.8;
    }
    80% {
        opacity: 0.9;
    }
    90% {
        opacity: 0.95;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hide-like-contour {
    10% {
        opacity: 0.9;
    }
    20% {
        opacity: 0.85;
    }
    30% {
        opacity: 0.75;
    }
    40% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.1;
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}