/* MIXINS > ANGLES */
@mixin top-corners {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

@mixin bottom-corners {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* MIXINS > BORDURES */
@mixin border($color) {
    border: 0px solid transparent;
    box-shadow: 5px 5px 5px $color;
}

/* MIXINS > CARDS */
@mixin textcard {
    box-sizing: border-box;
    width: 340px;
    height: 70px;
    padding: 0;
    padding-left: 5px;
    margin-bottom: 20px;
    background-color: white;
    line-height: 1;
    @include bottom-corners;
    @include border($grey-03);
    h2, p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 16px;
        line-height: 0.5;
    }
}


/* MIXINS > TEXTES */
@mixin small-bold {
    font-size: 12px;
    font-weight: bold;
}


/* MIXINS > MEDIA QUERIES */
@mixin desktop-query {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
        @media (hover: hover) {
            .carousel__snapper {
                animation-name: tonext, snap;
                animation-timing-function: ease;
                animation-duration: 4000ms;
                animation-iteration-count: infinite;
            }
        }
        @media (prefers-reduced-motion: reduce) {
            .carousel__snapper {
                animation-name: none;
            }
        }
    }
    }
    /* spécifiques pour le carousel en prenant en compte les préférences du nav: */
    

@mixin tablet-query {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}