$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$grey-01: #F6F6F6;
$grey-02: darken($grey-01, 5%);
$grey-03: darken($grey-01, 7%);
$grey-04: darken($grey-01, 50%);
$grey-05: darken($grey-01, 75%);
$gradient-01: linear-gradient(to top left, $primary-color, $secondary-color);

$breakpoints: (
    tablet: 768px,
    desktop: 992px
);
