@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Regular.ttf'),
    url('fonts/roboto/Roboto-Black.ttf'),
    url('fonts/roboto/Roboto-BlackItalic.ttf'),
    url('fonts/roboto/Roboto-Bold.ttf'),
    url('fonts/roboto/Roboto-BoldItalic.ttf'),
    url('fonts/roboto/Roboto-Italic.ttf'),
    url('fonts/roboto/Roboto-Light.ttf'),
    url('fonts/roboto/Roboto-LightItalic.ttf'),
    url('fonts/roboto/Roboto-Medium.ttf'),
    url('fonts/roboto/Roboto-MediumItalic.ttf'),
    url('fonts/roboto/Roboto-Regular.ttf'),
    url('fonts/roboto/Roboto-Thin.ttf'),
    url('fonts/roboto/Roboto-ThinItalic.ttf');
}

@font-face {
    font-family: 'Shrikhand';
    src: url('fonts/shrikhand.otf');
}

body {
    font-family: Roboto, Arial, Verdana, sans-serif;
    counter-reset: section;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: normal;
    margin: 0 !important;
    overflow-x: hidden;
    @include tablet-query {
        justify-content: center;
        align-content: center;
        main {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: wrap;
            min-height: 100vh;
        }
    }
    @include desktop-query {
        justify-content: center;
        align-content: center;
        main {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: wrap;
            min-height: 100vh;
        }
    }

    h1 {
        font-size: 24px;
        font-weight: bold;
        @include desktop-query {
            text-align: center;
        }
    }

    h2 {
        font-size: 18px;
    }

    p, nav {
        font-size: 18px;
    }

    ul {
        margin: 0;
        padding: 0;
    }
}
