/* *** ÉLÉMENTS > BOUTON BASE *** */
.btn {
    background-image: $gradient-01;
    color: white;
    padding: 15px;
    margin: 4em;
    border-radius: 50px;
    transition: all 800ms ease-in-out;
    @include small-bold; 
    @include border($grey-03);
    @include tablet-query {
        margin: 0 auto 20px auto;
    }
    @include desktop-query {
        position: relative;
        font-size: 16px;
        margin: 0 auto 0 auto;
    }
    &:hover {
        cursor: pointer;
        opacity: 0.8;
        @include border($grey-04);
    }
    &.__order {
        display: grid;
        width: 50%;
        align-self: center;
        margin: auto;
        @include tablet-query {
            width: 30%;
            margin: 2em auto 3em auto;
        }
        @include desktop-query {
            width: 10%;
            display: block;
            margin-right: 2%;
            margin-bottom: 1%;
        }
    }
}

/* *** ÉLÉMENTS > COEUR LIKE *** */
.cta.__like {
    position: relative;
    :hover {
        cursor: pointer;
    }
    .__icone {
        font-size: 22px;
        font-weight: lighter;
        transition: transform 400ms;
        .fa-regular.fa-heart {
            position: absolute;
            opacity: 1;
            transition: opacity 1000ms ease-in-out;
        }
        .fa.fa-heart {
            position: absolute;
            opacity: 0;
            transition: opacity 800ms ease-in-out;
            background: $gradient-01;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .__input {
        position: absolute;
        opacity: 0;
        &:hover, &:checked {
            +.__icone{
                .fa-regular.fa-heart {
                    opacity: 0;
                }
                .fa.fa-heart {
                    opacity: 1;
                }
            }
        }
    }
}