.aside-card.__new {
    box-sizing: border-box;
    text-align: center;
    padding: 0.5rem;
    border-radius: 5%;
    background-color: $tertiary-color;
    color: darken($tertiary-color, 35%);
    z-index: 4;
    position: absolute;
    @include small-bold;
    top: 8px;
    right: 8px;
}