body {
    .loading-spinner {
        z-index: 5;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: $tertiary-color;
        width: 100%;
        height: 100%;
        opacity: 1;
        animation: load-and-fade 1500ms forwards;
        .loading-text {
            font-size: 22px;
            font-weight: bold;
            text-align: center;
            color: white;
            margin-top: 8rem;
        }
        &::after {
            animation: 1500ms linear infinite spinner;
            animation-play-state: inherit;
            border: solid 5px $grey-03;
            border-bottom-color: $primary-color;
            border-radius: 50%;
            content: "";
            height: 60px;
            width: 60px;
            transform: translate3d(-50%, -50%, 0);
            will-change: transform;
            position: absolute;
            top: 50%;
            left: 50%;
        }
        
    }
}