.section {
    padding-bottom: 50px;
    @include desktop-query {
        width: 100%;
        padding-bottom: 0;
        margin: 2% 0 2% 0;
    }
    @include tablet-query {
        display: flex;
        justify-content: center;
        margin: auto;
    }
    &.__infoposition {
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: $grey-01;
        text-align: center;
        @include tablet-query {
            width: 520px;
            height: 240px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            white-space: nowrap;
            margin: auto;
            border-radius: 15px;
            h1 {
                font-size: 18px;
            }
            p {
                font-size: 14px;
            }
        }
        @include desktop-query {
            width: 520px;
            height: 240px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            white-space: nowrap;
            margin: auto;
            border-radius: 15px;
        }
        .form.__infoposition {
            @include desktop-query {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                flex-wrap: wrap;
            }
            .__head-display {
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding: 10px;
                margin: 0;
                border: none;
                background-color: $grey-02;
                color: $grey-05;
                box-shadow: 0 2px 5px $grey-04 inset;
                @include desktop-query {
                    justify-content: center;
                    border-top-right-radius: 15px;
                    border-top-left-radius: 15px;
                }
                @include tablet-query {
                    border-top-right-radius: 15px;
                    border-top-left-radius: 15px;
                }
                .label__infoposition {
                    font-size: 18px;
                    padding-right: 3%;
                    @include desktop-query {
                        text-align: center;
                    }
                }
                .input__infoposition {
                    color: $grey-05;
                    background-color: transparent;
                    border: none;
                    @include small-bold;
                    @include desktop-query {
                        font-size: 14px;}
                }
            }
            .fieldset__infoposition {
                border: none;
                padding: 20px;
                @include desktop-query {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    text-align: center;
                    padding: 1rem;
                    margin: auto;
                    h1 {
                        font-size: 16px;
                        line-height: 1.2;
                    }
                    p {
                        font-size: 16px;
                        line-height: 1.2;
                    }
                }
            }
            .btn {
                @include desktop-query {
                    background-color: white;
                    font-size: 16px;
                }
            }
        }
    }
    &.__fonctionnement, &.__restaurants {
        padding: 15px;
        @include tablet-query {
            height: 20%;
        }
    }
    &.__fonctionnement {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        @include tablet-query {
            width: 40%;
            margin: auto;
            h1 {
                text-align: center;
            }
        }
        @include desktop-query {
            width: 30%;
            margin: auto;
            height: 15%;
            display: flex;
            flex-direction: column; 
        }
        .__liste {
            margin: 0;
            padding: 0;
            @include desktop-query {
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-content: center;
                margin: auto;
            }
            .guidelines {
                width: 80%;
                background-color: $grey-01;
                display: flex;
                justify-content: flex-start;
                align-content: center;
                padding: 6% 2% 5% 5%;
                margin-left: 5%;
                margin-bottom: 15px;
                @include top-corners;
                @include bottom-corners;
                @include border($grey-03);
                @include desktop-query {
                    white-space: nowrap;
                    margin-left: 10%;
                    padding: 1.5rem 1.5rem 1.2rem 0.4rem;
                }
                @include tablet-query {
                    white-space: nowrap;
                    margin-left: 10%;
                    padding: 1.5rem 1.5rem 1.2rem 0.4rem;
                }
                &::before {
                    counter-increment: section;
                    content: counter(section);
                    position: relative;
                    left: -10%;
                    border-radius: 50%;
                    padding: 3px 7px 3px 7px;
                    display: inline;
                    text-align: center;
                    color: white;
                    background-color: $primary-color;
                    @include desktop-query {
                        left: -5%;
                    }
                }
                .__icone {
                    font-size: 18px;
                    color: $grey-04;
                    padding-right: 10%;
                    padding-top: 2px;
                }
                &:hover {
                    background-color: lighten($primary-color, 35%);
                    cursor: pointer;
                    .__icone {
                        color: $primary-color;
                    }
                }
            }   
        }
    }
    &.__restaurants {
        background-color: $grey-01;
        @include tablet-query {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-content: center;
            margin: auto;
            padding: 0 1.5rem 1.5rem 1.5rem;
            background-color: transparent;
            h1 {
                text-align: center;
            }
        }
        @include desktop-query {
            width: 100%;
            margin: 0;
            padding: 0 1.5rem 1.5rem 1.5rem;
            background-color: transparent;
            display: flex;
            flex-direction: column;
        }
        .carousel {
            @include tablet-query {
                width: 90%;
                height: 280px;
                display: flex;
                flex-direction: row;
                justify-content: stretch;
                white-space: nowrap;
                flex-wrap: nowrap;
                overflow: hidden;
                background-color: $grey-01;
                padding: 0;
            }
            @include desktop-query {
                width: 95%;
                height: 340px;
                display: flex;
                flex-direction: row;
                justify-content: stretch;
                white-space: nowrap;
                flex-wrap: nowrap;
                overflow: hidden;
                background-color: $grey-01;
                padding: 0;
            }
            .scroller  {
                display: none;
                @include desktop-query {
                    z-index: 2;
                    box-sizing: border-box;
                    width: 100%;
                    height: 340px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    color: $grey-05;
                    background-color: $grey-02;
                    transition: background-color 300ms ease-in-out;
                    border: none;
                    opacity: 70%;
                    .fa {
                        margin: auto;
                    }
                    &:hover {
                        cursor: pointer;
                        background-color: darken($grey-02, 20%);
                        + .__display-articles {
                            transform: translateX(-5%);
                        }
                    }
                    &:focus {
                        background-color: darken($grey-02, 30%);
                        
                    }
                }
            }
            .__display-articles {
                @include tablet-query {
                    z-index: 1;
                    box-sizing: border-box;
                    height: 260px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-content: center;
                    padding: 0;
                    transition: transform 400ms ease-out;
                    scroll-behavior: smooth;
                    scroll-padding: auto;
                    &:hover {
                        transform: translateX(-2.5%);
                    }
                }
                @include desktop-query {
                    z-index: 1;
                    box-sizing: border-box;
                    width: 95%;
                    height: 340px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-content: center;
                    transition: transform 400ms ease-out;
                }
                .card {
                    @include textcard;
                    @include top-corners;
                    @include border($grey-03);
                    padding-left: 0;
                    height: 250px;
                    margin-bottom: 10%;
                    position: relative;
                    @include tablet-query {
                        margin: 0.5% 1% 0.5% 1%;
                    }
                    @include desktop-query {
                        margin: 2.3% 3% 2% 3%;
                        transition: transform 400ms ease;
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                    }
                    .link.__card-index {
                        .cardimg {
                            width: 340px;
                            height: 190px;
                            @include top-corners;
                            @include desktop-query {
                                width: 120%;
                                height: 200px;
                            }
                        }
                    }
                    .textcard {
                        @include textcard;
                        padding: 5px;
                        padding-left: 10px;
                        @include desktop-query {
                            width: 120%;
                        }
                        .cta {
                            float: right;
                            position: relative;
                            margin-top: -43px;
                            padding-right: 10px;
                            color: black;
                        }
                    }
                }
            }
        }
    }