.section {
    padding-bottom: 50px;
    &.__infoposition {
        background-color: $grey-01;
        text-align: center;
        .form.__infoposition {
            .__head-display {
                display: flex;
                flex-direction: row;
                justify-content: center;
                color: $grey-05;
                width: 100%;
                padding: 10px;
                background-color: $grey-02;
                border: none;
                box-shadow: 0 2px 5px $grey-04 inset;
                .label__infoposition {
                    font-size: 18px;
                    margin-right: 3%;
                }
                .input__infoposition {
                    background-color: $grey-02;
                    border: none;
                    @include small-bold;
                }
            }
            .fieldset__infoposition {
                border: none;
                padding: 20px;
            }
        }
    }
    &.__fonctionnement, &.__restaurants {
        padding: 15px;
    }
    &.__fonctionnement {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        .__liste {
            margin: 0;
            padding: 0;
            .guidelines {
                width: 80%;
                background-color: $grey-01;
                display: flex;
                justify-content: flex-start;
                align-content: center;
                padding: 6% 2% 5% 5%;
                margin-left: 5%;
                margin-bottom: 15px;
                @include top-corners;
                @include bottom-corners;
                @include border;
                &::before {
                    counter-increment: section;
                    content: counter(section);
                    position: relative;
                    left: -10%;
                    border-radius: 50%;
                    padding: 3px 7px 3px 7px;
                    display: inline;
                    text-align: center;
                    color: white;
                    background-color: $primary-color;
                }
                .__icone {
                    font-size: 18px;
                    color: $grey-04;
                    padding-right: 10%;
                    padding-top: 2px;
                }
                &:hover {
                    background-color: lighten($primary-color, 35%);
                    cursor: pointer;
                    .__icone {
                        color: $primary-color;
                    }
                }
            }   
        }
    }
    &.__restaurants {
        background-color: $grey-01;
        &.card {
            @include textcard;
            @include top-corners;
            @include border;
            height: 250px;
            }
            .link.__card-index {
                .cardimg {
                    width: 100%;
                    height: 190px;
                    @include top-corners;
                }
            }
            .textcard {
                @include textcard;
                padding: 5px;
                padding-left: 10px;
                .cta {
                    float: right;
                    position: relative;
                    margin-top: -43px;
                    padding-right: 10px;
                    color: black;
                }
            }
        }
    }