/* PAGES > RESTAURANTS > MAIN > BACKGROUND IMAGES */
main {
    &.restau-01 {
        background: url($img-restau-01) no-repeat;
        background-size: contain;
    }
    &.restau-02 {
        background: url($img-restau-02) no-repeat;
        background-size: contain;
    }
    &.restau-03 {
        background: url($img-restau-03) no-repeat;
        background-size: contain;
    }
    &.restau-04 {
        background: url($img-restau-04) no-repeat;
        background-size: contain;
    }
    @include tablet-query {
        &.restau-01, &.restau-02, &.restau-03, &.restau-04 {
            background: $grey-01;
        }
    }
}

/* PAGES > RESTAURANTS > MAIN */
.section.__menu {
    display: flex;
    flex-direction: column;
    margin-top: 240px;
    background-color: $grey-01;
    width: 100vw;
    @include top-corners;
    @include tablet-query {
        margin: 0;
    }
    .__title-container {
        display: flex;
        justify-content: space-evenly;
        padding: 1.5rem 0;
        @include desktop-query {
            flex-wrap: wrap;
            white-space: normal;
            justify-content: center;
            padding: 4rem 0;
            .title {
                padding-right: 2%;
            }
            .__like-container {
                padding-left: 2%;
            }
        }
        @include tablet-query {
            justify-content: center;
            .__like-container {
                padding: 0 1rem 0 1rem;
            }
        }
        .__title {
            font-family: Shrikhand;
            line-height: 1;
            margin: 0;
        }
        .__like-container {
            line-height: 1;
            display: inline-block;
        }
    }
    .form.__menu {
        @include desktop-query {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            white-space: normal;
            width: 95%;
        }
        @include tablet-query {
            margin: auto;
        }
        .no-mobile.__restau-photo {
            display: none;
            @include tablet-query {
                display: flex;
                justify-self: center;
                margin: auto;
                width: 30%;
                height: auto;
                border-radius: 15px;
                @include top-corners;
                @include bottom-corners;
                @include border($grey-03);
            }
            @include desktop-query {
                width: 15%;
                align-self: center;
            }
        }
        .__entrees, .__plats, .__desserts {
            z-index: 1;
            position: relative;
            border: none;
            margin-bottom: 20px;
            @include desktop-query {
                width: 25%;
            }
            @include tablet-query {
                margin-bottom: 0;
            }
            .hide-menu {
                z-index: 2;
                opacity: 1;
                background-color: $grey-01;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
            .subtitle.--big-letters {
                text-transform: uppercase;
                font-weight: lighter;
                font-size: 14px;
                line-height: 2;
                @include tablet-query {
                    text-align: center;
                }
                &::after {
                    display: flex;
                    content: "";
                    width: 10%;
                    border-bottom: 3px #99E2D0 solid;
                    @include tablet-query {
                        margin: auto;
                        width: 6%;
                    }
                    @include desktop-query {
                        margin: auto;
                        width: 6%;
                    }
                }
            }
            .__textcard {
                @include textcard;
                @include top-corners;
                display: flex;
                flex-direction: row;
                position: relative;
                white-space: nowrap;
                overflow: hidden;
                opacity: 0;
                cursor: pointer;
                @include tablet-query {
                    margin: auto auto 1rem auto;
                    width: 380px;
                }
                .__display-text {
                    display: flex;
                    flex: 100%;
                    flex-direction: column;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    transition: all 600ms;
                    h2, p {
                        margin: 0;
                        padding: 0.5rem;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .__description {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: flex;
                        flex: 100%;
                        flex-direction: row;
                        justify-content: space-between;
                        .__display-price {
                            display: inline-block;
                            align-self: center;
                            padding: 0.25rem;
                            width: 12%;
                            @include small-bold;
                        }
                    }
                }
                .__card-check {
                    transition: all 600ms ease-in-out;
                    .__input.--menu {
                        position: absolute;
                        right: -50%;
                        width: 100px;
                        height: auto;
                        opacity: 0;
                    }
                    .__icone.--menu {
                        opacity: 100%;
                        position: absolute;
                        right: -20%;
                        width: 20%;
                        height: 100%;
                        border-top-right-radius: 15px;
                        border-bottom-right-radius: 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $tertiary-color;
                        color: white;
                    }
                }
                &:hover {
                    .__card-check {
                        .__input.--menu {
                            transform: translateX(-150%);
                            transition: transform 600ms ease-in-out;
                        }
                        .__icone.--menu {
                            transform: translateX(-100%);
                            transition: transform 600ms ease-in-out;
                            cursor: pointer;
                            .fa-solid {
                                transform: rotate(1turn);
                                transition: transform 1200ms ease-in-out;
                            }
                        }
                    }
                    .__display-text {
                        max-width: 80%;
                    }
                }
                    
            }
        }
        .__entrees {
            .__textcard {
                animation: reveal-menu 1500ms 1000ms both;
            }
        }
        .__plats {.__textcard {
            animation: reveal-menu 1500ms 1500ms both;
            }
        }
        .__desserts {
            .__textcard {
                animation: reveal-menu 1500ms 2000ms both;
            }
        }
    }  
}