/* *** PAGES > RESTAURANTS > HEADER *** */
.header__menu {
    .logo-site {
        justify-content: center;
        margin: auto;
        @include desktop-query {
            align-content: center;
            margin: 0 0 3% 0;
        }
    }
    .__back {
        text-decoration: none;
        align-content: center;
        margin: auto;
        margin-left: 20px;
        margin-right: 0;
        @include desktop-query {
            align-self: center;
            margin: 3% 2% 2% 2%;
        }
        .fa-solid.fa-arrow-left {
            color: $grey-05;
        }
    }
}

/* PAGES > RESTAURANTS > MAIN > BACKGROUND IMAGES */
main {
    &.restau-01 {
        background: url($img-restau-01) no-repeat;
        background-size: 400px;
    }
    &.restau-02 {
        background: url($img-restau-02) no-repeat;
        background-size: 400px;
    }
    &.restau-03 {
        background: url($img-restau-03) no-repeat;
        background-size: 400px;
    }
    &.restau-04 {
        background: url($img-restau-04) no-repeat;
        background-size: 400px;
    }
    @include desktop-query {
        &.restau-01, &.restau-02, &.restau-03, &.restau-04 {
            background: transparent;
        }
    }
}

/* PAGES > RESTAURANTS > MAIN */
.section.__menu {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    margin-left: 0;
    margin-top: 250px;
    padding: 10px 2px 50px 2px;
    background-color: $grey-01;
    @include top-corners();
    @include desktop-query {
        margin: 0;
        padding: 2% 0% 5% 0%;
    }
    .__title {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 10px;
        @include desktop-query {
            width: 25%;
            margin-left: 2%;
            flex-wrap: wrap;
            white-space: normal;
        }
        .__menu {
            font-family: Shrikhand;
        }
        .cta.__like {
            align-content: center;
            margin: auto;
        }
    }
    .form.__menu {
        @include desktop-query {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            white-space: normal;
        }
        .no-mobile.__restau-photo {
            display: none;
            @include desktop-query {
                display: flex;
                align-content: flex-start;
                margin: auto;
                margin-top: 3%;
                width: 15%;
                height: auto;
                @include top-corners;
                @include bottom-corners;
                @include border($grey-03);
            }
        }
        .__entrees, .__plats, .__desserts {
            border: none;
            margin-bottom: 20px;
            @include desktop-query {
                width: 25%;
            }
            .subtitle.--big-letters {
                text-transform: uppercase;
                font-weight: lighter;
                font-size: 14px;
                line-height: 2;
                &::after {
                    display: flex;
                    content: "";
                    width: 10%;
                    border-bottom: 3px #99E2D0 solid;
                }
            }
            .__textcard {
                @include textcard;
                @include top-corners;
                display: flex;
                flex-direction: row;
                position: relative;
                white-space: nowrap;
                overflow: hidden;
                .__display-text {
                    width: 95%;
                    h2, p {
                        line-height: 1;
                    }
                }
                .__display-price {
                    display: block;
                    align-self: flex-end;
                    width: 3%;
                    padding: 3% 6% 3% 3%;
                    @include small-bold;
                }
                .__input.--menu, .__icone.--menu, .__display-text, .__display-price {
                    transition: transform 600ms ease-in-out;
                }
                .__input.--menu {
                    position: absolute;
                    right: -50%;
                    width: 100px;
                    height: auto;
                    opacity: 0;
                }
                .__icone.--menu {
                    opacity: 100%;
                    position: absolute;
                    right: -20%;
                    width: 20%;
                    height: 100%;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $tertiary-color;
                    color: white;
                }
                &:hover {
                    .__input.--menu {
                        cursor: pointer;
                        transform: translateX(-150%);
                    }
                    .__icone.--menu {
                        transform: translateX(-100%);
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    .__display-price {
                        transform: translateX(-60%);
                    }
                    .__display-text {
                        width: 75%;
                        h2, p {
                            width: 85%;
                            transform-origin: left;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis; /* ne fonctionne pas */
                        }
                        
                    }
                }
            }
        }
    }
    
}